<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Personal Info</title>
</head>
<body>
	<h1>Personal Page Generation</h1>
	<form action="result" method="POST">
		<div>
			First name:<br>
			<input type="text" name="first_name" value="{{ first_name }}"/>
		</div>
		<div>
			Last name:<br>
			<input type="text" name="last_name" value="{{ last_name }}"/>
		</div>
		<div>
			Nickname:<br>
			<input type="text" name="nickname" value="{{ nickname }}"/>
		</div>
		<div>
			Birthday:<br>
			<fieldset>
				Year:
				<input type="text" name="birthday_year" value="{% if birthday is defined %}{{ birthday.year }}{% endif%}"/>
				Month:
				<input type="text" name="birthday_month" value="{% if birthday is defined %}{{ birthday.month }}{% endif%}"/>
				Day:
				<input type="text" name="birthday_day" value="{% if birthday is defined %}{{ birthday.day }}{% endif%}"/>
			</fieldset>
		</div>
		<div>
			Avatar URL:<br>
			<input type="text" name="avatar_url" value="{{ avatar }}"/>
		</div>
		<div>
			Interests (separated with newlines):<br>
			<textarea rows="8" cols="50" name="interests">{{ interests }}</textarea>
		</div>
		<div>
			Friends (Pairs of URLs - RDF, HTML - separated with newlines. 2 URLs in each pair are separated with | symbol):<br>
			<textarea rows="8" cols="80" name="friends">{{ friends }}</textarea>
		</div>
        <div>
            <input type="checkbox" name="use_friends_info" value="true" checked="checked">Use friends' avatars and names<br>
        </div>
		<div>
			<input type="submit" value="Submit"/>
		</div>
	</form>

</body>
</html>