<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Generation Result</title>
</head>
<body>
	<h3>Results</h3>
	You can find results here:<br>
	<a href="{{ rdf_url }}">RDF</a><br>
	<a href="{{ html_url }}">HTML</a><br>
	<a href="{{ friends_rdf_url }}">Friends RDF</a>
</body>
</html>