{#
	   Copyright 2015 Filipp Blagoveschenskiy

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ first_name }} {% if nickname is not none %}"{{ nickname }}" {% endif %}{{ last_name }}</title>
<style media="screen" type="text/css">

#header {
	background-color: #E9EDF1;
	color: #45688E;
	font-weight: bold;
	border: 1px solid black;
	text-align: center;
	font-size: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#left_column {
	width: 30%;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	background-color: #EDEEF1;
}

#right_column {
	display: inline-block;
	width: 69%;
	box-sizing: border-box;
	vertical-align: top;
}

html > body {
	margin-top: 0;
}

.page_layout {
	width: 900px;
	margin: auto;
}

#avatar {
	max-width: 100%;
	max-height: 100%;
}

/*
* {
	border: 1px dotted red;	
}
*/

.info_field_name {
	width: 30%;
	display: inline-block;
	font-weight: 600;
}

.info_line > div {
	vertical-align: middle;
}

.info_field_value {
	display: inline-block;
}

.info_line {
	width: 100%;
	display: block;
}

#avatar_separator {
	height: 1px;
	background: black;
	margin-top: 5px;
	margin-bottom: 5px;
}

</style>
{% block friends_css %}{% endblock %}
</head>
<body>
	<div class="page_layout">
        <div id="header">
            <p>{{ first_name }} {{ last_name }}</p>
        </div>
		
		
		<div id="left_column">
			<div id="avatar_space">
				<img id="avatar" src="
					{% if avatar_url is not none %}
						{{ avatar_url }}
					{% else %}
						https://vk.com/images/camera_200.gif
					{% endif %}
				"/>
			</div>
			
			<div id="avatar_separator"></div>

            {% block friends %}{% endblock %}
		</div>
		
		<div id="right_column">
			{% if nickname is not none %}
				<div class="info_line">
					<div class="info_field_name">
						<p>Nickname:</p>
					</div>
					<div class="info_field_value">
						<p>{{ nickname }}</p>
					</div>
				</div>
			{% endif %}
			{% if birthday is not none %}
				<div class="info_line">
					<div class="info_field_name">
						<p>Birthday:</p>
					</div>
					<div class="info_field_value">
						<p>{{ birthday }}</p>
					</div>
				</div>
			{% endif %}
			{% if interests is not none %}
				<div class="info_line">
					<div class="info_field_name">
						<p>Interests:</p>
					</div>
					<div class="info_field_value">
						<ul>
							{% for interest in interests %}
								<li>{{ interest }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</body>
</html>
