{#
	   Copyright 2015 Filipp Blagoveschenskiy

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends "person_base.html" %}

{% block friends_css %}
    <style>
        .friend_div {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .friends_header {
            background-color: #DEE5EB;
            color: #45688E;
            font-weight: bold;
            font-size: 18px;
            padding: 3px;
            text-align: center;
            border-radius: 10px;
        }

        .friends_separator {
            height: 1px;
            background: slategrey;
            margin: 5px 15px;
        }
    </style>
{% endblock %}

{% block friends %}
    {% if friends is not none %}
        <div id="friends_space">
            <div class="friends_header">Friends</div>
            {% for friend in friends %}
                <div class="friends_separator"></div>
                <div class="friend_div">
                    <a href="{{ friend.html_url }}">{{ friend.html_url }}</a>
                </div>
            {% endfor %}
            <div class="friends_separator"></div>
        </div>
    {% endif %}
{% endblock %}