{#
	   Copyright 2015 Filipp Blagoveschenskiy

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}

{% extends "person_base.html" %}

{% block friends_css %}
    <style>
        .friend_div {
            width: 66px;
            float: left;
            word-break: break-all;
            margin: 8px;
        }

        .friend_avatar_div {
            width: 66px;
            height: 66px;
        }

        .friend_avatar {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
{% endblock %}

{% block friends %}
    {% if friends is not none %}
        <div id="friends_space">
            {% for friend in friends %}
                <div class="friend_div">
                    <div class="friend_avatar_div">
                        <img class="friend_avatar" src="
                            {% if friend.avatar_url is not none %}
                                {{ friend.avatar_url }}
                            {% else %}
                                https://vk.com/images/camera_200.gif
                            {% endif %}
                        "/>
                    </div>

                    <a href="{{ friend.html_url }}">
                        {% if friend.full_name is not none %}
                            {{ friend.full_name }}
                        {% else %}
                            {{ friend.html_url }}
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}